h1 {
  color: #00e6ac;
  font-size: 40px;
  font-family: Arial, sans-serif;
}

p {
  color: #d9d9d9;
  font-size: 18px;
  font-family: Georgia, serif;
}

body {
  background-color: #193367;
}
